# Xcode

# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

trigger:
- develop

pool:
  vmImage: 'macos-latest'

steps:
- task: CmdLine@2
  inputs:
    script: |
      cat >swiftc.c <<EOL
      #include <unistd.h>
      const char driver_mode[7] = "swiftc";
      int main(int argc, char *argv[]) {
        argv[0] = (char *)driver_mode;
        return execv("/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift", argv);
      }
      EOL
      clang swiftc.c -o swiftc
      rm /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swiftc
      cp swiftc /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
- task: synopsys-coverity@1
  inputs:
    coverityService: 'coverity-vm-cwa-app-ios'
    projectName: 'Corona Warn App - iOS'
    streamName: 'cwa-app-ios'
    coverityBuildDirectory: '$(Build.Repository.LocalPath)'
    buildCommand: 
- task: Xcode@5
  inputs:
    actions: 'build'
    configuration: 'Release'
    sdk: 'iphoneos'
    scheme: 'ENACommunity'
    packageApp: false

