# Xcode

# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

trigger:
- develop

pool:
  vmImage: 'macos-latest'

steps:
- task: CmdLine@2
  inputs:
    script: |
      ls -la /usr/bin/swiftc
      ls -la /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
      whoami /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/mayeye
      touch 
      echo Hello world

#- task: Xcode@5
#  inputs:
#    actions: 'build'
#    configuration: 'Release'
#    sdk: 'iphoneos'
#    scheme: 'ENACommunity'
#    packageApp: false
#    args: '-UseModernBuildSystem=NO'
